@model AccountViewModel

<div class="container" style="padding-top:50px">
<div class="card h-100" style="border:solid 2px">
      <div class="card-header fw-bold fs-5">
                    Hesap Bilgileri
                </div>
    <div class="card-body">


        <form method="post" asp-controller="Account" asp-action="Update">

          

        <div class="row gutters">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <h6 class="mb-2 text-warning fw-bold">Kişi Bilgileri</h6>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="form-group mt-2">
                    <label asp-for="FirstName"  class="mb-1"></label>
                    <input asp-for="FirstName" type="text" class="form-control" placeholder="Adınız...">
                   <span class="text-danger fw-bold" asp-validation-for="FirstName"></span>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="form-group mt-2">
                    <label asp-for="LastName" class="mb-1"></label>
                    <input asp-for="LastName" type="text" class="form-control" placeholder="Soyadınız...">
                    <span class="text-danger fw-bold" asp-validation-for="LastName"></span>
                  
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="form-group mt-2">
                    <label asp-for="Email" class="mb-1"></label>
                    <input asp-for="Email"  type="email" class="form-control" placeholder="Eposta Adresiniz">
                    <span class="text-danger fw-bold" asp-validation-for="Email"></span>
                  
                </div>

            </div>
             <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                <div class="form-group mt-2">
                    <label asp-for="EmailConfirm" class="mb-1"></label>
                    <input asp-for="EmailConfirm" type="email" class="form-control" placeholder="Eposta Adres tekrar">
                    <span class="text-danger fw-bold" asp-validation-for="EmailConfirm"></span>
                  
                </div>

            </div>
        </div>
     
        <div class="row gutters">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="text-right mt-3">
                    <button type="submit" class="btn btn-warning">Güncelle</button>
                </div>
            </div>
        </div>
       </form>



    </div>
</div>
</div>