
<div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Alışveriş Dünyası</h1>
        <p style="color:firebrick; font-weight:bold" class="col-md-8 fs-4">Fuzuli'ye sormuşlar, Alışveriş Dünyası'ndan alışveriş yapıyorum demiş.</p>
       
      </div>
    </div>

    <div class="container">

        <div class="row">

            <div class="col-md-3">

                <vc:categories></vc:categories>

            </div>

            <div class="col-md-9">

                <vc:products category-id="ViewBag.CategoryId"></vc:products>

            </div>

        </div>
        
    </div>

